<main>
  <section class="container-fluid">
    <form [formGroup]="profileForm" (ngSubmit)="handleSubmit()">
      <div class="mb-3">
        <label for="name" class="form-label"> Nombre: </label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Ingresa tu nombre"
          formControlName="name"
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label"> Correo </label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Ingresa tu correo"
          formControlName="email"
        />
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-outline-primary">Enviar</button>
      </div>
    </form>
    <article>
      <h2>Profile Form</h2>
      <p>Name: {{ profileForm.value.name }}</p>
      <p>Email: {{ profileForm.value.email }}</p>
    </article>
    <label for="framework" class="form-label">
      Favorite Framework: {{ favoriteFramework }}
      <input
        id="framework"
        type="text"
        class="form-control"
        [(ngModel)]="favoriteFramework"
      />
      <br />
      <button class="btn btn-outline-primary" (click)="showFramework()">
        Mostrar
      </button>
    </label>
  </section>

  <section>
    @if (isLoggedIn) {
    <p>Bienvenido {{ username }}</p>
    <picture>
      <img
        (click)="greet()"
        src="https://github.com/mejiaale01.png"
        alt="photo"
      />
    </picture>
    } @else {
    <p>Inicia Sesión</p>
    <button (click)="isLoggedIn = true" class="btn btn-outline-primary">
      Login
    </button>
    }
    <app-games
      (favGame)="getFavorite($event)"
      username="{{ username }}"
    ></app-games>

    @if (favGame != '') {
    <p>Tu juego favorito es: {{ favGame }}</p>
    }
  </section>
</main>
